.DS_Store
.AppleDouble
.LSOverride

node_modules/
database/
db
test
client/assets

logs
*.logs

._*
*.pem

.Spotlight-V100
.Trashes

client/dist/

.floo
.flooignore

.idea/*
links.txt

editor/editor

cert.pem
certMaker
key.pem
Joel.md
Neville.md
