.DS_Store
.AppleDouble
.LSOverride

node_modules/
database/
db
test

logs
*.logs

._*
*.pem

.Spotlight-V100
.Trashes

client/dist/

.floo
.flooignore

.idea/*
links.txt


cert.pem
certMaker
key.pem
Joel.md
Neville.md
