*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  padding-top: 10vh;
}

.ql-bubble .ql-editor code,
.ql-bubble .ql-editor pre {
  background-color: #f0f0f0;
  border: none;
  border-radius: 1px;
}

.ql-bubble .ql-tooltip {
  background-color: #444;
  border-radius: 3px;
  color: #fff;
}
.ql-editor {

    padding: 1px 0px 1px 4px;

}


/*Main component*/

.main-content {
  /*width: 100vw;*/
}

.active {
  background-color: rgb(24, 24, 24);
  color: #FFF;
}

.disabled {
  background-color: #333;
  color: #FFF;
}

.content {
  width: 100%;

}

.cl-controls {
  display: inline-flex;
  width: 100%;
  height: 10%;
}

.cl-controls span {
  display: flex;
  /*width: 50%;*/
  justify-content: center;
  align-items: center;
}

.cl-content {
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
 /* width: 100%;
  height: 90%;*/
}

.content-right {
  width: 98%;
}

.content-left {
  width: 98%;
  display: flex;
  flex-direction: column;
  /*padding: 0 0 0 4px;*/
  justify-content:space-between;

}

.content-left-top {
  /*display: flex;*/
    padding: 0 0 0 4px;
  flex-direction: row;
  justify-content:flex-start;
}

.content-left-bottom {
  /*display: flex;*/
  flex-direction: row;
  justify-content:flex-end;
}



.start {
  /*justify-content: flex-start;*/
}

.end {
  /*justify-content: flex-end;*/
}

.info-con {
  width: 100%;
  color: black;
  padding: 5px 2px 2px 2px;
}

.doc-info {
  /*width: 117px;*/
  -moz-border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  /*background: lightgrey;*/
  /*padding: 30px 10px 10px 10px;*/
  align-items: center;
  /*justify-content: stretch;*/
}

html,
body {
  color: #333;
  font-family: 'Monaco', courier, monospace;
}

.glyphicon {
  color: black;
  font-size: 24px;
}

#editor {
  height: 100%;
  /*padding: 1em;*/
}

code {
  color: #f66;
}


/*End Main component*/


/*Navbar*/

.navbar {
  margin: 0;
  display: inline-flex;
  color: white;
  background-color: grey;
  height: 9vh;
  width: 100vw;
  border: none;
  min-height: 30px;
}

.left-nav {
  display: flex;
  width: 20%;
  justify-content: flex-start;
  /*background-color: blue;*/
  padding: 0 2px 0 5px;
}

.left-nav span {
  padding: 0.75em;
}

.title {
  color: rgb(255, 255, 255);
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
}

.title {
  text-align: center;
  vertical-align: middle;
}

.right-nav {
  display: flex;
  width: 20%;
  justify-content: flex-start;
  background-color: blue;
  padding: 0 2px 0 5px;
}

.user-details {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 4px;
  right: -6.75em;
  background-color: black;
  cursor: pointer;
  width: 2.5em;
  height: 2.75em;
  -moz-border-radius: 2.75em;
  -webkit-border-radius: 2.75em;
  border-radius: 2.75em;
}

.avatar {
  cursor: pointer;
}

.glyphicon {
  color: black;
  cursor: pointer;
}

.logo img {
  width: 35px;
}

.user-stuff {
  border: 1px solid white;
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  min-height: 8em;
  background-color: rgb(24, 24, 24);
}

.saved {
  border: 1px solid white;
  width: 100%;
  padding-top: 3em;
  min-height: 100%;
  /*overflow: scroll;*/
}

.signout-container {
  /*position: fixed;*/
  top: 0;
  /*width: 30vw;*/
}

.control-buttons,
.saved-docs button {
  background-color: white;
}

.control-buttons {
  display: inline-block;
  width: 40%;
}

.save button {
  color: black;
  cursor: pointer;
}

.signup,
.signin {
  width: 50%;
  display: table-cell;
  background-color: transparent;
  border: none;
  color: grey;
  outline: none;
}

.signup-signin button {
  color: white;
  background-color: white;
  text-decoration: none;
}

.signup-signin button:hover {
  cursor: pointer;
  -moz-box-shadow: 0 0 60px rgb(246, 246, 246);
  -webkit-box-shadow: 0 0 60px rgb(246, 246, 246);
  box-shadow: 0 0 60px rgb(246, 246, 246);
  cursor: pointer;
}

.auth-area {
  position: fixed;
  width: 20%;
  height: 4em;
  right: 100px;
  top: 0;
}

.saving-as {
  width: 100%;
}


/*End Navbar*/


/*Toolbar*/

.left-side {
  width: 30vw;
}

.tool-render {
  position: fixed;
  display: table-cell;
  z-index: 10;
  top: 8em;
  background-color: rgb(54, 54, 54);
  display: table-cell;
  margin: 0;
  width: 30vw;
  height: 100vh;
}

.count {
  position: fixed;
  height: 8em;
  background-color: rgb(24, 24, 24);
  width: 30vw;
  color: rgb(255, 255, 255);
  bottom: 0;
  text-align: center;
  vertical-align: middle;
}

.count span {
  font-size: 18px;
}

.count p {
  margin-top: 3em;
}

.tool-render,
.count {
  left: -29.9vw;
  z-index: 2;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  -ms-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}

.tool-bar {
  position: fixed;
  background-color: rgb(24, 24, 24);
  top: 4em;
  display: table;
  width: 30vw;
  height: 4em;
}

.horizontal-ul {
  display: table-row;
}

.horizontal-ul li {
  display: table-cell;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.horizontal-ul li:hover {
  background-color: rgb(54, 54, 54);
  cursor: pointer;
}

.left-side:hover .tool-render {
  left: 0;
}

.left-side:hover .count {
  left: 0;
}


/*End Toolbar*/


/*Sentiment highlights.*/

neg1 {
  background-color: rgba(225, 0, 0, 0.25);
}

neg2 {
  background-color: rgba(225, 0, 0, 0.30);
}

neg3 {
  background-color: rgba(225, 0, 0, 0.35);
}

neg4 {
  background-color: rgba(225, 0, 0, 0.40);
}

neg5 {
  background-color: rgba(225, 0, 0, 0.44);
}

pos1 {
  background-color: rgba(0, 125, 0, 0.30);
}

pos2 {
  background-color: rgba(25, 125, 50, 0.35);
}

pos3 {
  background-color: rgba(50, 150, 75, 0.40);
}

pos4 {
  background-color: rgba(50, 175, 75, 0.44);
}

pos5 {
  background-color: rgba(75, 225, 100, 0.44);
}

button {
  border: none;
  outline: 0;
  background-color: #FFF;
  font-weight: 600;
  cursor: pointer;
}

.sentiment-title {
/*  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-size:10px;*/
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sentiment-controls {
  display: inline-flex;
  padding-bottom: 0.5em;
  border-bottom: 0.25em solid #333;
}



.sentiment-controls button {
  width: 50%;
  cursor: pointer;
  /*background-color: grey*/
}

.stat-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.stat-container canvas {
  width: 100%;
}


/*End Sentiment*/


/*Signin*/

.panel {
  /*position: fixed;
    top: 0;*/
  width: 200px;
  background-color: transparent;
  z-index: 1;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  border: 0px solid transparent;
}


.panel-body {
  padding: 0;
  background-color: #333;
  border: 0;
}

.panel,
.form-control {
  border-radius: 0px 0px 0px 4px;
  margin: 0;
  border: transparent;
  background-color: rgb(0, 0, 0);
}

.submit {
  width: 50%;
}

input {
  float: right;
  background-color: rgb(0, 0, 0);
}

input[type="text"],
input[type="password"],
input[type="button"] {
  background-color: rgb(0, 0, 0);
  color: white;
}


/*End Signin*/


/*Signup*/

.panel {
  background-color: transparent;
  z-index: 1;
  border: 0px;
}

.panel-body {
  padding: 0;
}

.panel,
.form-control {
  border-radius: 0px;
  margin: 0;
}

.submit,
.email-password {
  width: 50%;
}

input {
  float: right;
  background-color: rgb(0, 0, 0);
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  background-color: rgb(0, 0, 0);
  color: white;
}


/*End signup*/


/*Audio style*/

.ambient {
  /*margin-bottom: 0.50em;*/
  padding: 5px 0px 0 0px;
}

.audio-title {
  white-space: nowrap;
  justify-content: space-around;
  padding: 4px 0px 0 0px;
  color: black;
}

.audio-tracks {
  display: inline-flex;
}

.audio-icons {
  display: flex;
  justify-content: space-around;
  /*cursor: pointer;*/
}

.audio-icon {
  /*padding: 0.25em;*/
}

.audio-icons img {
  width: 30px;
  height: 40px;
  cursor: pointer;
}


/*End Audio Style*/


/*Video Style*/

#video {
  white-space: nowrap;
  justify-content: space-around;
  padding: 0 0px 0 0px;

  cursor: pointer;

}

#video video {
  white-space: nowrap;
  justify-content: space-around;
  padding: 0;
  /*cursor: pointer;*/
}

#video-container {
  white-space: nowrap;
  justify-content: space-around;
  white-space: wrap;

}

#video-controllers {
  white-space: nowrap;
  justify-content: space-around;



}

button:focus {
  outline: 0;
}

button img {
  width: 40px;
  cursor: pointer;
}

.video-container {
  /*position: fixed;*/
  /*top:5px;*/
  white-space: nowrap;
  justify-content: space-around;
  white-space: wrap;

  /*z-index:-1;*/
}

#button-container {
  /*position: fixed;*/
  /*top:5px;*/
  white-space: nowrap;
  width: 100%;
  /*z-index:-1;*/
}

@media screen and (min-width:650px) {
  html,
  body {
    margin: 0;
    /*height: 100%;*/
    /*min-height: 100%;*/
    min-height: 100vh;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .main-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
  /*  align-items: stretch;
    align-content: stretch;*/
    height: 100%;
  }

  .content {
    display: inline-flex;
    height: 100%;
    width: 100%;
  }
  .content-left {
  width: 38%;
  display: flex;
  flex-direction: column;
  /*padding: 0 0 0 4px;*/
  justify-content:space-between;
}
  .content-right {
  padding: 0 0 0 20px;
}
.content-left video {
  width: 200px;
}
  .content-left-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}
  .title {
    padding: 0px 5px 0px 0px;
  }
  .ambient {
  /*margin-bottom: 0.50em;*/
  padding: 50px 0px 0 0px;
}
.info-con {
  width: 100%;
  color: black;
  padding: 50px 1px 2px 2px;
}
/*#wordDist {
  width:250;
}
#wordFreq {
  width:250;
}*/
  footer {
    background-color: #AACCFF;
    float: left;
    position: absolute;
    width: 100%;
    height: 2.75em;
    bottom: 0;
    border-top: 0.15em solid blue;
    font-size: 10px;
  }
  .main-footer {
    margin-top: auto;
  }
}
