/*<!-- Created by Duncan on 12.28.2016 -->*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body{
  display: table;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
body{
  padding-top: 13vh;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
